* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  text-align: center;
}

/* Benefits section */

.benefits-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2vw;
  align-items: center;
  width: 1580px;
}

#Benefits .section-header {
  height: 56.40px;
  background: linear-gradient(90deg, rgba(255, 140, 230, 1) 20%, rgba(255, 178, 238, 1) 36%, rgba(146, 203, 255, 1) 76%, rgba(121, 190, 253, 1) 100%);
  background-clip: text;
  color: transparent;
  font-size: 48px;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word;
  margin-bottom: 5vw;
}

.cards {
  display: flex;
  justify-content: space-around;
  width: auto;
}

.card-img {
  padding-left: 45px;
}

.cards img {
  height: 8vw;
  width: 8vw;
}

.card-body {
  border: 1px solid #0A1D64;
  border-radius: 30px;
  width: 15vw;
  padding: 10px;
  margin-right: 50px;
}

.cards .card-text {
  height: 40px;
  text-align: center;
  color: #0A1D64;
  font-size: 22px;
  line-height: 31.67px;
  margin-bottom: 20px;
}

/* Repohunt additional DTC information */

.additional-section {
  text-align: center;
  margin-left: 5.8cm;
  padding-top: 2vw;
}

#Additional-info .section-header {
  height: 56.40px;
  background: linear-gradient(90deg, rgba(255, 140, 230, 1) 20%, rgba(255, 178, 238, 1) 36%, rgba(146, 203, 255, 1) 76%, rgba(121, 190, 253, 1) 100%);
  background-clip: text;
  color: transparent;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word;
  margin-bottom: 3vw;
}

.additional-section .information {
  font-size: 1.4rem;
  color: white;
}
